@use 'styles/fonts';
body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-weight: 700;
}

.bg--curve {
  background-image: url("images/pattern-curve.svg");
  background-position: center center;
  background-size: cover;
}
